
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" type="text/css" href="~/Content/SignIn.css">
</head>

<body>
       <div class="container-fluid">     
            <section class="col-md-5">
                	<img class="img-thumbnail" height="100%" src="~/Pictures/donar-sangre.png" alt="Chania">
        </section>
        
            <section class="col-md-5 col-md-offset-2">
                    @if (ViewBag.Error != null)
                    {
                        <span class="alert alert-danger">@ViewBag.Error</span>
                    }

                	<h1>BloodSavior</h1>
                	<p>Iniciar Sesion</p>
                    <form method="post" action="@Url.Action("SignIn", "Login")" role="form">
                  <div class="form-group">
                        <label for="email">User:</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter username">
                </div>
                 <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                </div>
                 <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                </div>
                  <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </form>
        </section>
    </div>
   
</body>

</html>