
@{
    ViewBag.Title = "Sobre Nosotros";
}

<h2>Sobre Nosotros</h2>

<p>Muchas personas se han visto con la situacion que necesitan sangre para alguna cirugia o algun incoveniente de salud. BloodSavior es un aplicacion que le permitira buscar  a personas que tiene el tipo de sangre que buscas y que estas gozan de un buen estado de salud.</p>

