
@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../Content/MyStyle.css" rel="stylesheet" type="text/css" />
</head>
    <body>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Requisitos para Donar</h2>
                    <p>No todas las personas pueden donar sangre.Verifica si cumple con los requisitos para donar sangre.De ser asi no dejes de ayudar a tus amigos y familiares. </p>
                    @Html.ActionLink("Ver mas detalles", "Requisitos", "Static")
                </div>
                <div class="col-md-4">
                    <h2>Registrate</h2>
                    <p>Create una cuenta! y empieza a explorar nuestra aplicacion. </p>
                    @Html.ActionLink("Click aqui para registrarte", "User", "Register")
                </div>
                <div class="col-md-4">
                    <h2>Inicia Sesion</h2>
                    <p>Ingresa a la aplicacion que te ayudara a encontrar la sangre que buscas!</p>
                    @Html.ActionLink("Click aqui para iniciar sesion", "SignIn", "Login")
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Company 2015</p>
            </footer>
        </div> <!-- /container -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
    

