
@{
    
}
<div class="container">
     <h1><img class="img-thumbnail" height="70" width="90" src="~/Pictures/inyeccion.jpg" alt="Chania"> Requisitos para donar sangre </h1>
</div>
<p>Las condiciones necesarias están contempladas en el cuestionario que se le entrega al presentarse a donar. Las principales son:</p>
<ul type=disk>
    <li>Gozar de buen estado de salud.</li>
    <li>Tener entre 18 y 65 años de edad. Teniendo en cuenta que desde los 16 años se puede donar sangre con la autorización de los padres o tutores, y que la edad limite superior está dada por el estado físico individual, por lo que si Ud es mayor de 65 años y tiene deseos de ser donante, puede concurrir a su médico de cabecera y solicitarle un certificado de autorización para realizar una donación de sangre</li>
    <li>Pesar más de 50 kilos.</li>
    <li>Tener valores de presión arterial dentro de los límites que se consideran adecuados.</li>
    <li>No presentar fiebre o haber padecido alguna enfermedad en los últimos 7 días.</li>
    <li>Es recomendable haber descansado por lo menos 6 horas la noche anterior a la donación.</li>
    <li>Es conveniente tomar el desayuno habitual , el almuerzo o la cena completos dependiendo de la hora en que done sangre</li>
</ul>
<p>Es importante conocer que a pesar de que se realizan los análisis de laboratorio para detectar enfermedades transmisibles por transfusión a todas las unidades de sangre donadas, existe el llamado período de ventana, que es el tiempo que transcurre desde que ingresa al organismo un agente capaz de transmitir una enfermedad hasta que puede ser detectado por las pruebas de laboratorio. Si una persona dona sangre estando en ese período de ventana no podrá ser detectado en el laboratorio, es por esto que se insiste tanto en la sinceridad para contestar las preguntas del cuestionario. Con respecto a la prevención de algunas enfermedades transmisibles por transfusión (como HIV; Hepatits B , Hepatitis C, y sífilis) la persona en mejores condiciones de decidir si puede o no donar su sangre es usted mismo, conociendo cuáles son las situaciones de riesgo para contraer esas infecciones. Las situaciones de riesgo incluyen:</p>
<ul type="disk">
    <li>El uso de drogas intravenosas</li>
    <li>La actividad sexual entre hombres.</li>
    <li>Relaciones sexuales con parejas ocasionales (no estables).</li>
    <li>Sexo por dinero.</li>
    <li>Los tatuajes, perforaciones en cualquier parte del cuerpo (piercing) y acupuntura.</li>
    <li>El uso de objetos cortantes no esterilizados.</li>
    <li>Las relaciones sexuales con otras personas involucradas en una situación de riesgo de cualquier tipo</li>
</ul>